.app-custom-button {
  width: 285px;
  height: 50px;
  border: none;
  font-family: inherit;
  position: relative;
  transition-duration: 0.3s;

  &:focus {
    outline: none;
  }
  &:hover {
    filter: contrast(130%);
  }
  &:active {
    filter: contrast(140%);
    transform: translateY(2px);
  }

  .button-icon {
    width: 25px;
    height: 25px;
    background-size: cover;
    position: absolute;
    top: 12px;
    bottom: 13px;
    left: 30px;
    z-index: 999;
  }
  .button-icon-google {
    background-image: url("../../assets/icons/google.svg");
  }
}
