.category-item-container {
  height: 250px;
  flex: 0 0 150px;
  margin: 0 5px;
  background-size: cover;
  background-position: center;
  transition-duration: 0.2s;
  cursor: pointer;
  display: flex;

  .category-title {
    color: #2d3155;

    font-size: 18px;
    margin: auto auto 5px auto;
    text-align: center;
  }
  &:hover {
    transform: scale(1.05);
  }
}
@media (max-width: 1024px) {
  .category-item-container {
    height: 30vh;
    flex: 0 0 40vw;
    margin: 0 5px;
    &:hover {
      transform: scale(1);
    }
  }
}
