.hero {
  margin: auto;
  min-height: 50vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.65),
      rgba(255, 255, 255, 0.55)
    ),
    url("../../assets/images/hero-arkaplan.webp");
  background-size: cover;
  background-position: center;
  border-radius: 0 0 20px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;

  .hero-title {
    font-size: 25px;
    margin: 0;
    color: #4f5485;
    width: 500px;
    margin: auto 0 50px 0;
  }
  .hero-second {
    width: 35vw;
  }
}
@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    justify-content: space-around;

    .hero-first {
      width: 100%;
      .hero-title {
        font-size: 20px;
        width: inherit;
        margin: 0;
      }
    }

    .hero-second {
      width: 100%;
    }
  }
}
