.header-desktop-container {
  height: 85px;
  background: linear-gradient(60deg, #2d264e, #26294e);
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  align-items: center;

  .header-desktop-buttons {
    margin: 0 20px 0 auto;
    display: flex;
  }
}
