.input-container {
  position: relative;

  .input-icon {
    width: 25px;
    height: 25px;
    background-size: cover;
    position: absolute;
    top: 12.5px;
    left: 10px;
    z-index: 999;
  }
  .input-icon-account {
    background-image: url("../../assets/icons/account.svg");
  }
  .input-icon-email {
    background-image: url("../../assets/icons/email.svg");
  }
  .input-icon-password {
    background-image: url("../../assets/icons/password.svg");
  }
  .input-icon-email {
    background-image: url("../../assets/icons/email.svg");
  }
  .input-icon-search {
    background-image: url("../../assets/icons/search.svg");
  }

  .custom-input {
    background-color: #4f548575;
    color: #fbb224;
    font-family: inherit;
    font-weight: 500;
    font-size: 13px;
    box-sizing: border-box;
    text-indent: 45px;
    &::placeholder {
      color: #fbb224;
    }
    &:focus {
      outline: none;
      &::placeholder {
        color: #4f5485;
      }
      background-color: #fbb224;
      color: #4f5485;
      @at-root .input-icon {
        filter: invert(190%) sepia(150%) saturate(500%) hue-rotate(20deg)
          brightness(101%) contrast(97%);
      }
    }
  }

  .custom-input-normal {
    width: 335px;
    height: 50px;
  }
  .custom-input-admin {
    width: 270px;
    height: 50px;
    margin: 15px 0;
    @media (max-width: 1024px) {
      width: 90vw;
    }
  }
}
