.sign-page-container {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.171), black),
    url("../../assets/images/giris_arkaplan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .sign-page-form-container {
    background-color: #262631;
    width: 411px;
    height: 55vh;
    display: grid;
    grid-template-rows: 1fr 6fr;
    justify-content: center;
    align-items: center;
    .sign-page-greet {
      margin: 40px 0;
      font-weight: 500;
      color: #fbb224;
      text-align: center;
    }
    .sign-page-hr {
      width: 75%;
      border-color: #7877b1;
    }
  }

  @media (max-width: 800px) {
    align-items: flex-end;

    .sign-page-form-container {
      width: 100vw;
      height: 65vh;
    }
  }
}
