.mobile-menu-nav {
  background: linear-gradient(60deg, #2d264e, #26294e);
  z-index: 99999;
  position: fixed;
  height: 75px;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  a {
    text-decoration: none;
  }

  .mobile-menu-title {
    color: #fbb224;
  }
}
