#cart-section {
  margin: 0 auto;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;

  .cart-page-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .cart-content {
      margin: 0 auto;

      .cart-item-container {
        width: 45vw;
        height: 120px;
        background-color: white;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
        margin: 10px 0;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        transition-duration: 0.2s;
        cursor: default;

        &:hover {
          transform: scale(1.01);
        }
        .cart-item-image {
          height: 100%;
          width: 150px;
          object-fit: cover;
        }
        .cart-item-info {
          display: inline-flex;
          flex-direction: column;
          margin-right: auto;
          margin-left: 10px;
          align-self: center;
          justify-content: space-between;
          height: 75%;
          cursor: pointer;
          h4 {
            color: #4f5485;
            margin: 0;
          }
          & :nth-child(2),
          :nth-child(3) {
            font-size: 14px;
            font-weight: 500;
            color: #8b8b8b;
            @media (max-width: 1024px) {
              font-size: 12px;
            }
          }
        }
        .cart-item-options {
          height: 100%;
          margin-right: 10px;
          font-size: 14px;
          display: inline-flex;
          .size-edit {
            margin: auto 10px;
            width: 20px;
            height: 20px;
            .button-icon {
              width: 20px;
              height: 20px;
            }
          }
          @media (max-width: 1024px) {
            font-size: 12px;
          }
        }
      }
    }
    .cart-menu-container {
      background: linear-gradient(60deg, #2d264e, #26294e);
      border-radius: 20px;
      width: 370px;
      max-height: 720px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      .cart-address-select {
        width: 90%;
        height: 50px;
        & option {
          background-color: #4f548575;
          color: #4f5485;
        }
        &:focus {
          background-color: #fbb224;
          color: #4f5485;
        }
      }
      .cart-address-item {
        width: 90%;
        min-height: 120px;
        max-height: 170px;
        background: linear-gradient(60deg, #151224, #121325);
        margin: 10px 0;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 15px;
        h4,
        p {
          margin: 0;
          color: #fbb224;
          font-weight: 500;
        }
        h4 {
          font-weight: 600;
        }
        p {
          font-size: 12px;
          margin: 5px 0;
        }
      }
      .cart-order-title {
        width: 90%;
        color: #fbb224;
        font-weight: 600;
        text-align: left;
      }
      .cart-order-container {
        border-radius: 20px;
        background: linear-gradient(60deg, #151224, #121325);
        height: 170px;
        width: 90%;
        box-sizing: border-box;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .cart-order-info {
          display: flex;
          justify-content: space-between;
          font-weight: 600;
          color: #fbb224;
          .cart-order-result {
            font-weight: 400;
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #cart-section {
    width: 100vw;

    .cart-page-container {
      flex-direction: column;
      justify-content: unset;
      .cart-content {
        .cart-item-container {
          width: 95vw;
          .cart-item-image {
            width: 120px;
          }
        }
      }
      .cart-menu-container {
        width: 300px;
        margin: 20px auto;

        .cart-order-title {
          font-size: 15px;
        }
        .cart-order-container {
          height: 130px;
          .cart-order-info {
            font-size: 13px;
            .cart-order-result {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
