.sign-page-buttons-container {
  width: 100%;
  display: grid;
  row-gap: 40px;
  text-align: center;
  .google-hesap-secenek {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    font-family: inherit;
    background-color: transparent;
    font-size: 1em;

    .google-hesap-icon {
      width: 25px;
      height: 25px;
      margin-right: 15px;
    }
  }
}
