.app-custom-button {
  width: 285px;
  height: 50px;
  border: none;
  font-family: inherit;
  position: relative;
  transition-duration: 0.1s;
  cursor: pointer;

  &:focus {
    outline: none;
  }
  &:hover {
    filter: contrast(130%);
  }
  &:active {
    filter: contrast(140%);
    transform: translateY(2px);
  }

  .button-icon {
    width: 25px;
    height: 25px;
    background-size: cover;
    position: absolute;
    top: 12px;
    bottom: 13px;
    left: 30px;
    z-index: 999;
  }
  .button-icon-google {
    background-image: url("../../../assets/icons/google.svg");
  }
  .button-icon-search {
    background-image: url("../../../assets/icons/search.svg");
  }
  .button-icon-cart {
    background-image: url("../../../assets/icons/shopping-cart.svg");
  }
  .button-icon-orders {
    background-image: url("../../../assets/icons/history.svg");
  }
  .button-icon-address {
    background-image: url("../../../assets/icons/adress.svg");
  }
  .button-icon-logout {
    background-image: url("../../../assets/icons/logout.svg");
  }
  .button-icon-login {
    background-image: url("../../../assets/icons/account.svg");
  }
  .button-icon-nav {
    background-image: url("../../../assets/icons/nav.svg");
  }
  .button-icon-back {
    background-image: url("../../../assets/icons/back.svg");
  }
  .button-icon-setting {
    background-image: url("../../../assets/icons/setting.svg");
  }
}

.size-login {
  font-size: 18px;
  font-weight: 600;
}
.size-google {
  font-size: 14px;
}

.size-header-menu {
  width: 155px;
  height: 40px;
  margin: 0 5px;
  .button-icon {
    width: 22px;
    height: 22px;
    top: 9px;
    bottom: 9px;
    left: 15px;
  }
  @media (max-width: 1300px) {
    width: 130px;
    height: 30px;
    font-size: 12px;
    .button-icon {
      width: 18px;
      height: 18px;
      top: 6px;
      left: 10px;
    }
  }
}
.size-nav {
  width: 35px;
  height: 35px;
  background-color: transparent;
  .button-icon {
    width: 35px;
    height: 35px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.size-back {
  width: 30px;
  height: 30px;
  background-color: transparent;
  .button-icon {
    width: 30px;
    height: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.size-mobile-menu {
  width: 300px;
  height: 65px;
  margin: 5px 5px;
  font-size: 18px;
  .button-icon {
    width: 30px;
    height: 30px;
    top: 17.5px;
    left: 25px;
  }
}

.size-search {
  width: 50px;
  height: 50px;
  border-radius: 0 !important;
  display: flex;
  .button-icon {
    width: 25px;
    height: 25px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.selected {
  background-color: #fbb224 !important;
  color: #4f5485 !important;
  .button-icon {
    filter: invert(37%) sepia(13%) saturate(1522%) hue-rotate(197deg)
      brightness(57%) contrast(40%) !important;
  }
}
