.app-custom-button {
  width: 285px;
  height: 50px;
  border: none;
  font-family: inherit;
  position: relative;
  transition-duration: 0.2s;
  background-color: transparent;
  cursor: pointer;
  color: #fbb224;

  &:focus {
    outline: none;
  }
  &:hover {
    background-color: #272142d7;
  }
  &:active {
    transform: translateY(2px);
  }

  .button-icon {
    width: 25px;
    height: 25px;
    background-size: cover;
    position: absolute;
    top: 12px;
    bottom: 13px;
    left: 30px;
    z-index: 999;
  }
  .button-icon-google {
    background-image: url("../../../assets/icons/google.svg");
  }
  .button-icon-search {
    background-image: url("../../../assets/icons/search.svg");
  }
  .button-icon-cart {
    background-image: url("../../../assets/icons/shopping-cart.svg");
  }
  .button-icon-orders {
    background-image: url("../../../assets/icons/history.svg");
  }
  .button-icon-address {
    background-image: url("../../../assets/icons/adress.svg");
  }
  .button-icon-logout {
    background-image: url("../../../assets/icons/logout.svg");
  }
  .button-icon-login {
    background-image: url("../../../assets/icons/account.svg");
  }
  .button-icon-nav {
    background-image: url("../../../assets/icons/nav.svg");
  }
  .button-icon-back {
    background-image: url("../../../assets/icons/back.svg");
  }
  .button-icon-setting {
    background-image: url("../../../assets/icons/setting.svg");
  }
  .button-icon-product {
    background-image: url("../../../assets/icons/products.svg");
  }
  .button-icon-category {
    background-image: url("../../../assets/icons/categories.svg");
  }
}

.size-signup {
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #fbb224;
}
.size-signin {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  border: 2px solid #4f5485;
}
.size-google {
  border: 2px solid #ffffff;
  color: white;
  font-size: 14px;
}

.size-header-menu {
  width: 155px;
  height: 40px;
  margin: 0 5px;

  color: #fbb224;
  .button-icon {
    width: 22px;
    height: 22px;
    top: 9px;
    bottom: 9px;
    left: 15px;
  }
  @media (max-width: 1300px) {
    width: 130px;
    height: 30px;
    font-size: 12px;
    .button-icon {
      width: 18px;
      height: 18px;
      top: 6px;
      left: 10px;
    }
  }
}
.size-nav {
  width: 35px;
  height: 35px;
  background-color: transparent;
  .button-icon {
    width: 35px;
    height: 35px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.size-back {
  width: 30px;
  height: 30px;
  background-color: transparent;
  .button-icon {
    width: 30px;
    height: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.size-mobile-menu {
  width: 300px;
  height: 65px;
  margin: 5px 5px;
  font-size: 18px;

  color: #fbb224;

  .button-icon {
    width: 30px;
    height: 30px;
    top: 17.5px;
    left: 25px;
  }
}
.size-admin {
  color: #d7654c;
}

.size-admin-nav {
  color: #d7654c;
  width: 50vw;
  height: 250px;
  background: linear-gradient(60deg, #2d264e, #26294e);
  margin: 10px 0;
  font-size: 48px;
  > .button-icon {
    position: absolute;
    top: 80%;
    left: 90%;
    width: 40px;
    height: 40px;
    @media (max-width: 1024px) {
      left: 85%;
      width: 30px;
      height: 30px;
    }
  }
  @media (max-width: 1024px) {
    font-size: 44px;
    width: 65vw;
    height: 200px;
  }
  &:hover {
    background: linear-gradient(60deg, #2a2347, #232547);
  }
}

.button-info-admin {
  font-size: 18px;
  position: absolute;
  top: 15px;
  left: 10px;

  @media (max-width: 1024px) {
    font-size: 14px;
  }
}
.size-search {
  width: 50px;
  height: 50px;
  border-radius: 0 !important;
  background-color: #4f5485;
  display: flex;

  .button-icon {
    width: 25px;
    height: 25px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  &:active {
    transform: translateY(0.5px);
  }
}
.size-category-nav {
  width: 40px;
  height: 50px;
  font-weight: 700;
  font-size: 32px;
  color: #3e4268;
  background-color: #4f54855b;
  &:hover {
    color: #fbb224;
    background-color: #4f5485;
  }
  &:active {
    transform: translateY(0);
  }
}

.selected {
  border: 2px solid #fbb224;
  background-color: #fbb32415;
}
