#new-items-section {
  margin: 50px 0;
  //min-height: 350px;
  width: 100%;
  .items-container {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 40em) {
  .items-container {
    display: flex;
    //justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media (min-width: 60em) {
  .items-container {
  }
}
@media (min-width: 52em) {
  .items-container {
  }
}
